.body{
    width: 10000px;
    height: 1000px;
}

.azul {
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    float: left;


}

.preto{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    float: left;

}

.verde{
    background-color: green;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    float: left;
}

.vermelho{
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    float: left;

}